<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OSXSharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOSSharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68F17F121959105200BD455C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F17F241959105200BD455C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F17F38195917DF00BD455C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F17F49195917DF00BD455C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
