<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>689F925119628A3C00146188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689F926219628A3C00146188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68DA395119627DEC00D21DE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68DA396319627DED00D21DE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68DA3978196283F700D21DE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68DA3989196283F800D21DE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
